/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

h1, h2, h3 {
  font-family: 'Inconsolata', monospace;
  border-bottom: 2px solid black;
  font-size: 30px;
}

p {
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}

* {
  box-sizing: border-box;
}

#error {
  grid-column: 1/5;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: red;
  border: 2px solid red;
  margin-left: 10px;
  margin-right: 10px;
}

.effects {
  transition: 0.5s;
}

.effects:hover {
  color: white;
  background-color: black;
  border-color: red;
  -webkit-box-shadow: 0px 7px 0px -3px rgba(0,0,0,0.5);
  box-shadow: 0px 7px 0px -3px rgba(0,0,0,0.5);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.effectsHeader {
  transition: 0.5s;
}

.effectsHeader:hover {
  border-color: red;
  color: white;
  background-color: black;
  -webkit-box-shadow: 0px 7px 0px -3px rgba(0,0,0,0.5);
  box-shadow: 0px 7px 0px -3px rgba(0,0,0,0.5);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  text-align: center;
  margin-top: 2px;
  padding: 10px;
}

header p {
  margin: 10px;
  line-height: 20px;
  margin-top: 15px;
  text-align: center;
}

main {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.formSection {
  width: 100%;
  justify-content: center;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.zipcodeLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-align: center;
  width: 25%;
  border: 2px solid black;
  font-family: 'Inconsolata', monospace;
}

#zipCodeValue {
  height: 40px;
  width: 25%;
  text-align: center;
  border: 2px solid black;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}

.formSubmit {
  height: 40px;
  width: 25%;
  background-color: white;
  border: 2px solid black;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}

.mapSection {
  grid-row: 2/3;
  grid-column: 1/6;
  margin-top: 10px;
}

#map {
  height: 80vh;
}

.floatingPanel {
  background-color: #fff;
  text-align: center;
  border: 2px solid black;
}

.floatingPanel input {
  height: 40px;
  font-size: 16px;
  width: 25%;
  font-family: 'Inconsolata', monospace;
}

.infoWindowName {
  font-size: 16px;
  border-bottom: none;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
}

.birdPictures {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline;
  padding: 10px;
  margin-bottom: 10px;
}

.birdButtonClass {
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  width: 60%;
  background-color: white;
  font-family: 'Inconsolata', monospace;
}

.infoWindowDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floatingPanel {
  display: flex;
  border: none;
  justify-content: space-around;
  margin-top: 5px;
}

.floatingPanel input {
  border: 2px solid black;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
}

#birdPictureResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#birdPictureResults h2 {
  text-align: center;
  padding: 10px;
}

#birdPictureResults h2 {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.birdPicture {
  width: 75%;
  height: 75%;
  margin-left: 10vw;
  margin-top: 5vh;
  margin-right: 10vw;
}

/***************************Tablet********************************/

@media screen and (min-width: 668px) and (max-width: 1023px) {
  /* Not Needed for this project */
}

/***************************Desktop********************************/

@media screen and (min-width: 1024px) and (max-width: 4000px) {
  body {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: auto auto auto;
  }

  header {
    grid-row: 1/2;
    grid-column: 1/6;
    align-self: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  main {
    grid-row: 1/2;
    grid-column: 6/11;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  footer {
    grid-row: 2/3;
    grid-column: 1/11;
  }

  .mapSection {
    margin-top: 0px;
  }

  #error {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
}